
data (copy)/

data/Amapiano/10-Seconds-Split/

data/Amapiano/60-Seconds/

data/Amapiano/Extra/

data/Amapiano/Full-Song/

data/Bossa-Nova/10-Seconds-Split/

data/Bossa-Nova/60-Seconds/

data/Bossa-Nova/Extra/

data/Bossa-Nova/Full-Song/

data/Favela-Funk/10-Seconds-Split/

data/Favela-Funk/60-Seconds/

data/Favela-Funk/Extra/

data/Favela-Funk/Full-Song/

data/Funky-Soul/10-Seconds-Split/

data/Funky-Soul/60-Seconds/

data/Funky-Soul/Extra/

data/Funky-Soul/Full-Song/

data/Jungle/10-Seconds-Split/

data/Jungle/60-Seconds/

data/Jungle/Extra/

data/Jungle/Full-Song/

data/Neo-Soul/10-Seconds-Split/

data/Neo-Soul/60-Seconds/

data/Neo-Soul/Extra/

data/Neo-Soul/Full-Song/

data/Reggae/10-Seconds-Split/

data/Reggae/60-Seconds/

data/Reggae/Extra/

data/Reggae/Full-Song/

data/Reggaeton/10-Seconds-Split/

data/Reggaeton/60-Seconds/

data/Reggaeton/Extra/

data/Reggaeton/Full-Song/

data/RnB/60-Seconds/

data/RnB/Extra/

data/RnB/Full-Song/

data/Samba/60-Seconds/

data/Samba/Extra/

data/Samba/Full-Song/

data/Soca/60-Seconds/

data/Soca/Extra/

data/Soca/Full-Song/

data/RnB/10-Seconds-Split/

data/Samba/10-Seconds-Split/

data/Soca/10-Seconds-Split/

data/Amapiano/Spectogram/

data/Bossa-Nova/Spectogram/

data/Favela-Funk/Spectogram/

data/Funky-Soul/Spectogram/

data/Jungle/Spectogram/

data/Neo-Soul/Spectogram/

data/Reggae/Spectogram/

data/Reggaeton/Spectogram/

data/RnB/Spectogram/

data/Samba/Spectogram/

data/Soca/Spectogram/

notebooks/BPM Boxplot.jpg

notebooks/PCA Scattert.jpg

data/Spectrogram/
